


page-demo {
    ion-content{
        ion-grid{
           ion-row{
               ion-col{
                   div{
                    background: white;    
                    text-align: center;
                   }
               }
           }
           .footer{
               background: black;
               margin-top:50px;
                ion-col{
                    
                    color:white;
                    div{
                        background: black;
                    }
                    .apps-ft{
                        color:yellow;
                    }
                    ion-icon {
                        font-size: 40px;
                    }
                }
            }
           
        }
    }
    
}




